h1 {
  margin-top: 5rem;
}

.form_container {
  display: flex;
  justify-content: space-around;
  align-content: center;

  .contact_info {
    text-align: center;

    h2 {
      margin: 0 0 5rem;
    }

    p {
      margin-bottom: 1rem;
    }

    b {
      display: block;
      margin-bottom: 0.5rem;
    }

    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Avenir, sans-serif;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    width: 50%;
    font-family: Avenir, sans-serif;
    border-radius: 15px;
    margin-top: 4rem;

    .name {
      display: flex;
      justify-content: center;
      gap: 5rem;
    }

    .email {
      display: flex;
      justify-content: center;
      gap: 5rem;
    }

    .message {
      display: flex;
      justify-content: center;
      gap: 5rem;
    }

    label {
      display: block;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    input {
      display: block;
      width: 97.8%;
      border: 1px solid #78DEB7;
      background-color: rgba(50, 126, 193, 0.09);
      padding: 1rem 0 1rem 1rem;
      font-family: Avenir, sans-serif;
      border-radius: 15px;
      margin-bottom: 2rem;
    }

    #subject {
      display: block;
      background-color: rgba(50, 126, 193, 0.09);
      width: 100%;
      padding: 1rem 0 1rem 1rem;
      border: 1px solid #78DEB7;
      font-family: Avenir, sans-serif;
      border-radius: 15px;
      margin-bottom: 2rem;
    }

    .submit {
      font-family: Avenir, inherit sans serif;
      text-transform: uppercase;
      background-color: #327EC1;
      color: white;
      padding: 1rem;
      display: inline-block;
      margin: auto;
      border: none;
      border-radius: 15px;
      font-size: 1.1rem;
      font-weight: 600;
      transition: 0.25s;
    }

    .submit:hover {
      background-color: #78DEB7;
      transition: 0.25s;
    }
  }
}

.contact_explain {
  text-align: center;
  font-family: Avenir, sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 2rem auto 0;
  width: 75%;
}


@media (max-width: 750px) {
  .form_container {
    flex-direction: column;
    justify-content: center;


    .form {
      margin: auto;
      width: 70%;
    }
  }
}
