.stores__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Avenir, sans-serif;
  margin-top: 5rem;

  * {
    text-align: center;
  }

  li {
    padding-bottom: 3rem;
    border-bottom: 1px solid #327EC1;
    margin-bottom: 3rem;
  }

  li:last-child {
    border-bottom: none;
  }

  .store__container {
    display: flex;
    justify-content: space-around;
    gap: 78px;

    img {
      border-radius: 1.5rem;
    }

    .map__container {
      iframe {
        border-radius: 2rem;
      }
    }
  }

  .store_name {
    font-family: "Big Caslon CC", serif;
    font-size: 3rem;
    font-weight: 700;
    color: #327EC1;
    margin-bottom: 4rem;

    b {
      color: #327EC1;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  .info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    b {
      font-family: "Big Caslon CC", serif;
      color: #327EC1;
      font-style: italic;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    b, i, p {
      text-align: center;
      display: block;
      font-weight: 500;
    }
  }

  .plan {
    min-height: 300px;
    width: 100%;
    display: block;
  }
}

@media (max-width: 800px) {
  .stores__container {
    .store__container {
      flex-direction: column;
      gap: 2rem;

      .map__container{
        iframe {
          width: 70%;
          height: auto;
        }
      }

      img {
        width: 70%;
        height: auto;
        margin: auto;
      }

      .info__container {
        b, i, p {
          text-align: center;
        }
      }
    }
  }
}